#box1{
   
    height: 250px;
    width: 250px;
    font-size: 240px;
    text-align: center;
    background-color: skyblue;
/* 
    animation: mySlide;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-delay: 2s ;
    animation-timing-function: ease; 
    animation-timing-function: ease-in; 
    animation-timing-function: ease-out;
    animation-timing-function: linear;
    animation-duration: 5s; */

     animation: 3s linear 0s infinite running myColor; 
}
#box1:hover{
    /* animation: 3s linear 0s infinite running mySlide; */
}
#box1:active{
    /* animation: 3s linear 0s infinite running myRotate; */
}




@keyframes mySlide{
    from{margin-left: 100%;}
    to{margin-left: 0%;}
}
@keyframes myRotate{
    100%{transform: rotateX(360deg);}
    100%{transform: rotateY(360deg);} 
    100%{transform: rotateZ(360deg);} 
}
@keyframes myOpacity{
    50%{opacity: 0;}
}
@keyframes myScale{
    50%{transform: scale(0.5,0.5);}
}
@keyframes myColor{
    0%{background-color: red;}
    20%{background-color: green;}
    40%{background-color: blue;}
    60%{background-color: red;}
    80%{background-color: green;}
    100%{background-color: blue;}
}